<h4 class="center-align">Edit Team</h4>

<%= render partial: "form", locals: {team: @team} %>

<button class="waves-effect waves-light btn red" >
  <%= button_to "Cancel", team_path(@team), method: :get %>
</button>
