<h4 class="center-align">Teams</h4>

<div class="container">
  <div class="col s8">
    <table class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @teams.sort_by(&:id).each do |team| %>
          <tr>
            <td><%= link_to team.id, team_path(team), method: :get %></td>
            <td><%= team.name %></td>
          <tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

<div class="right-align" style="margin: 20px 20px">
  <div className="fixed-action-btn">
    <button class="btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="Add team">
        <i class="material-icons icon-white"><%= link_to "add", new_team_path, method: :get, class: "icon-white" %></i>
    </button>
  </div>
</div>
