<h4 class="center-align">Create Team</h4>

<%= render partial: "form", locals: {team: @team} %>

<button class="waves-effect waves-light btn red" >
  <%= button_to "Cancel", teams_path, method: :get %>
</button>
