<h4 class="center-align">Edit Employee</h4>

<%= render partial: "form", locals: {employee: @employee, teams: @teams} %>

<div>
  <%= button_to "Cancel", employee_path(@employee), method: :get %>
</div>
