<h1>Employees</h1>

<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Admin</th>
      <th>Assignable?</th>
    </tr>
    <% @employees.sort_by(&:id).each do |employee| %>
      <tr>
        <td><%= link_to employee.id, employee_path(employee), method: :get %></td>
        <td><%= employee.name %></td>
        <td><%= employee.admin %></td>
        <td><%= employee.assignable %></td>
      <tr>
    <% end %>
  </table>
</div>
