<h1>Employees</h1>

<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Assignable?</th>
    </tr>
    <% @employees.sort_by(&:id).each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.role %></td>
        <td><%= employee.assignable %></td>
      <tr>
    <% end %>
  </table>
</div>
