<div class="row">
  <%= render partial: "shifts/details", locals: {shift: @shift, employee: true} %>
</div>
<div class="row">
  <% if @shift.employee === current_user && @shift != @shift.team.current_shift && !@shift.started? %>
    Request to swap this shift for one of these shifts:
    <ul>
      <% @potential_trades.each do |shift| %>
        <li>
          <%= shift.days.first.value %> to <%= shift.days.last.value %> with <%= shift.employee.name %>
        </li>
      <% end %>
    </ul>
  <% end %>


</div>
