<div class="row">
  <%= render partial: "shifts/details", locals: {shift: @shift, employee: true} %>
</div>
<div class="row">
  <div class="col s4 red">
    Red
  </div>
  <div class="col s4 green">
    Green
  </div>
  <div class="col s4 blue">
    Green
  </div>
</div>
<div class="row">
  <div class="col s4 orange">
    Orange
  </div>
  <div class="col s4 brown">
    Brown
  </div>
  <div class="col s4 purple">
    Purple
  </div>
</div>
<div class="row">
  <div class="col s4 brown offset-s4">
    Brown
  </div>
  <div class="col s4 purple">
    Purple
  </div>
</div>
