<h4 class="center-align">Employee Details</h4>

<div>
  <p>
    Name: <%= @employee.name %>
  </p>
  <p>
    Assignable?
    <% if @employee.assignable %>
      <i class="material-icons small icon-green">check</i>
    <% end %>
  </p>
  <p>
    Admin?
    <% if @employee.admin %>
      <i class="material-icons small icon-green">check</i>
    <% end %>
  </p>
  <p>
    Teams:
      <% if @employee.teams.length > 0 %>
        <ul>
          <% @employee.teams.each do |team| %>
            <li>
              <%= link_to team.name, team_path(team), method: :get %>
            </li>
          <% end %>
        </ul>
      <% else %>
          This employee is not a member of any team.
      <% end %>
  </p>

</div>


<button class="waves-effect waves-light btn">
      <%= button_to "Go Back", employees_path, method: :get %>
</button>
<button class="waves-effect waves-light btn red">
      <%= button_to "Edit", edit_employee_path(@employee), method: :get  %>
</button>
