<div class="container center-align" style="margin: 25% 25%">
  <%= form_for @employee, :url => url_for(:controller => 'session', :action => 'create') do |f| %>

    <div class="row">
      <div class="col s2" style="padding: 10px; text-align: right; font-size: 17px">
        Login as
      </div>

      <div class="col s4">
        <%= f.collection_select :id, @employees, :id, :name %>
      </div>

      <div class="col s2" style="padding-top: 3px">
        <button type="submit" class="waves-effect waves-light btn-floating btn-medium">
          <i class="material-icons icon-white">
            <%= f.submit "navigate_next" %>
          </i>
        </button>
      </div>

    </div>

  <% end %>
</div>
