<h1>MyWorkday</h1>

<div>
  <%= form_for @employee, :url => url_for(:controller => 'session', :action => 'create') do |f| %>
    Login as <%= f.select :id, @employee_list %> <%= f.submit "Enter" %>
  <% end %>
</div>
