<h4 class="center-align">Shifts</h4>

<p class="center-align">Team: <%= link_to @team.name, team_path(@team), method: :get %></p>

<div class="center-align">
  <div class="container">
    <%= render partial: "calendar", locals: {date: @date, events_by_date: @events_by_date} %>
  </div>
</div>

  <div class="row">
    <div class="col s12">
      <div class="right-align">
        <div className="fixed-action-btn">
          <button class="waves-effect waves-light btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="Add shift(s)">
              <i class="material-icons icon-white"><%= link_to "add", new_team_shift_path, method: :get, class: "icon-white" %></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
